Source: paella-kernels
Section: unknown
Priority: optional
Maintainer: Joseph Rawson <umeboshi@gregscomputerservice.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0
Build-Depends: modutils, kernel-package, debhelper, bin86, fakeroot, kernel-source-2.6.3,kernel-source-2.4.25,kernel-patch-cryptoloop,kernel-patch-debianlogo,kernel-patch-skas,kernel-patch-uml

Package: kernel-image-2.6.7installer
Architecture: i386
Section: base
Priority: optional
Provides: kernel-image
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: lilo (>= 19.1) | grub
Description: This is the nfsroot installer kernel.
 This package contains the kernel used for the paella
 nfs installer.

Package: kernel-image-2.6.7roujin
Architecture: i386
Section: base
Priority: optional
Provides: kernel-image
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: lilo (>= 19.1) | grub
Description: This is my desktop
 This package contains the kernel used for my desktop.

Package: kernel-image-2.6.7bard
Architecture: i386
Section: base
Priority: optional
Provides: kernel-image
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: lilo (>= 19.1) | grub
Description: This is my laptop
 This package contains the kernel used for my laptop.

Package: kernel-image-2.6.7diskless
Architecture: i386
Section: base
Priority: optional
Provides: kernel-image
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: lilo (>= 19.1) | grub
Description: This is my diskless desktop
 This package contains the kernel used for my diskless desktop.

Package: kernel-image-2.4.27stdinstall
Architecture: i386
Section: base
Priority: optional
Provides: kernel-image
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: lilo (>= 19.1) | grub
Description: This is the kernel for a generic server
 This kernel is designed for an arbitrary server.
 This kernel is used in the standard installs.

Package: kernel-image-2.6.7shuttl
Architecture: i386
Section: base
Priority: optional
Provides: kernel-image
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: lilo (>= 19.1) | grub
Description: This is the kernel for the shuttle
 This kernel is designed especially for the shuttle sk41g.
 This kernel is used in the standard installs.

Package: kernel-image-2.4.27whopper
Architecture: i386
Section: base
Priority: optional
Provides: kernel-image
Depends: initrd-tools (>= 0.1.48), coreutils | fileutils (>= 4.0), modutils (>= 2.4.19)
Suggests: lilo (>= 19.1) | grub
Description: This is the kernel for whopper
 This kernel is designed for whopper.

