@import "partials/X11colors";

$primary-color: desaturate($color-BlanchedAlmond, 80%);
$secondary-color: $color-salmon4;
$text-color: darken($color-RosyBrown, 35%);


$background-color: darken($primary-color, 10%);
$button-background-color: darken($background-color, 15%);


