@import "sassy-buttons";

/* -------------------------------------------------------*/
/* 
      Action Button
*/
/* -------------------------------------------------------*/
$sb-base-color: $basecolor4;
$sb-text-color: lighten($basecolor1, 15);
$sb-font-size: 0.7em;

$sb-second-color: false;
$sb-border-radius: 0.3em;
$sb-padding: 0.1em 0.1em;

$sb-text-style: "inset";
$sb-gradient-style: "simple";
$sb-pseudo-states: true;

@mixin sassy-button-default-structure {
  display: inline-block;
  cursor: pointer;
}

@mixin action-button {
    @include sassy-button;
    font-weight: bold;
    font-family: "Droid Sans Bold";
}

.action-button {
    @include action-button;
    background: $basecolor4;
}

.action-button-submit {
    text-align: center;
}

.action-button-submit:hover {
    background: $basecolor1;
    cursor: pointer;
}

/* remove these id's later and just use classes */

#action-button-submit {
    background: $basecolor2;
    text-align: center;
}

#action-button-submit:hover {
    background: $basecolor1;
    cursor: pointer;
}
