@import "partials/X11colors";

//$primary-color: lighten($color-salmon1, 50%);
$primary-color: desaturate($color-cornsilk, 60%);

//good
$primary-color: desaturate($color-bisque, 60%);
$secondary-color: $color-salmon2;
$text-color: darken($color-RosyBrown, 35%);

// ok
$primary-color: desaturate($color-MistyRose, 80%);
$secondary-color: $color-salmon2;
$text-color: darken($color-RosyBrown, 35%);

// good
$primary-color: desaturate($color-BlanchedAlmond, 80%);
$secondary-color: $color-salmon2;
$text-color: darken($color-RosyBrown, 35%);

// good
$primary-color: lighten(desaturate($color-DarkSeaGreen, 20%), 20%);
$secondary-color: $color-salmon3;
$text-color: darken($color-RosyBrown, 35%);


// good
$primary-color: $color-LavenderBlush3;
$secondary-color: $color-MistyRose;
$text-color: darken($color-RosyBrown, 35%);


$background-color: darken($primary-color, 10%);
$button-background-color: darken($background-color, 15%);


