$color-snow: #fffafa;
$color-GhostWhite: #f8f8ff;
$color-WhiteSmoke: #f5f5f5;
$color-gainsboro: #dcdcdc;
$color-FloralWhite: #fffaf0;
$color-OldLace: #fdf5e6;
$color-linen: #faf0e6;
$color-AntiqueWhite: #faebd7;
$color-PapayaWhip: #ffefd5;
$color-BlanchedAlmond: #ffebcd;
$color-bisque: #ffe4c4;
$color-PeachPuff: #ffdab9;
$color-NavajoWhite: #ffdead;
$color-moccasin: #ffe4b5;
$color-cornsilk: #fff8dc;
$color-ivory: #fffff0;
$color-LemonChiffon: #fffacd;
$color-seashell: #fff5ee;
$color-honeydew: #f0fff0;
$color-MintCream: #f5fffa;
$color-azure: #f0ffff;
$color-AliceBlue: #f0f8ff;
$color-lavender: #e6e6fa;
$color-LavenderBlush: #fff0f5;
$color-MistyRose: #ffe4e1;
$color-white: #ffffff;
$color-black: #000000;
$color-DarkSlateGray: #2f4f4f;
$color-DarkSlateGrey: #2f4f4f;
$color-DimGray: #696969;
$color-DimGrey: #696969;
$color-SlateGray: #708090;
$color-SlateGrey: #708090;
$color-LightSlateGray: #778899;
$color-LightSlateGrey: #778899;
$color-gray: #bebebe;
$color-grey: #bebebe;
$color-LightGrey: #d3d3d3;
$color-LightGray: #d3d3d3;
$color-MidnightBlue: #191970;
$color-navy: #000080;
$color-NavyBlue: #000080;
$color-CornflowerBlue: #6495ed;
$color-DarkSlateBlue: #483d8b;
$color-SlateBlue: #6a5acd;
$color-MediumSlateBlue: #7b68ee;
$color-LightSlateBlue: #8470ff;
$color-MediumBlue: #0000cd;
$color-RoyalBlue: #4169e1;
$color-blue: #0000ff;
$color-DodgerBlue: #1e90ff;
$color-DeepSkyBlue: #00bfff;
$color-SkyBlue: #87ceeb;
$color-LightSkyBlue: #87cefa;
$color-SteelBlue: #4682b4;
$color-LightSteelBlue: #b0c4de;
$color-LightBlue: #add8e6;
$color-PowderBlue: #b0e0e6;
$color-PaleTurquoise: #afeeee;
$color-DarkTurquoise: #00ced1;
$color-MediumTurquoise: #48d1cc;
$color-turquoise: #40e0d0;
$color-cyan: #00ffff;
$color-LightCyan: #e0ffff;
$color-CadetBlue: #5f9ea0;
$color-MediumAquamarine: #66cdaa;
$color-aquamarine: #7fffd4;
$color-DarkGreen: #006400;
$color-DarkOliveGreen: #556b2f;
$color-DarkSeaGreen: #8fbc8f;
$color-SeaGreen: #2e8b57;
$color-MediumSeaGreen: #3cb371;
$color-LightSeaGreen: #20b2aa;
$color-PaleGreen: #98fb98;
$color-SpringGreen: #00ff7f;
$color-LawnGreen: #7cfc00;
$color-green: #00ff00;
$color-chartreuse: #7fff00;
$color-MediumSpringGreen: #00fa9a;
$color-GreenYellow: #adff2f;
$color-LimeGreen: #32cd32;
$color-YellowGreen: #9acd32;
$color-ForestGreen: #228b22;
$color-OliveDrab: #6b8e23;
$color-DarkKhaki: #bdb76b;
$color-khaki: #f0e68c;
$color-PaleGoldenrod: #eee8aa;
$color-LightGoldenrodYellow: #fafad2;
$color-LightYellow: #ffffe0;
$color-yellow: #ffff00;
$color-gold: #ffd700;
$color-LightGoldenrod: #eedd82;
$color-goldenrod: #daa520;
$color-DarkGoldenrod: #b8860b;
$color-RosyBrown: #bc8f8f;
$color-IndianRed: #cd5c5c;
$color-SaddleBrown: #8b4513;
$color-sienna: #a0522d;
$color-peru: #cd853f;
$color-burlywood: #deb887;
$color-beige: #f5f5dc;
$color-wheat: #f5deb3;
$color-SandyBrown: #f4a460;
$color-tan: #d2b48c;
$color-chocolate: #d2691e;
$color-firebrick: #b22222;
$color-brown: #a52a2a;
$color-DarkSalmon: #e9967a;
$color-salmon: #fa8072;
$color-LightSalmon: #ffa07a;
$color-orange: #ffa500;
$color-DarkOrange: #ff8c00;
$color-coral: #ff7f50;
$color-LightCoral: #f08080;
$color-tomato: #ff6347;
$color-OrangeRed: #ff4500;
$color-red: #ff0000;
$color-HotPink: #ff69b4;
$color-DeepPink: #ff1493;
$color-pink: #ffc0cb;
$color-LightPink: #ffb6c1;
$color-PaleVioletRed: #db7093;
$color-maroon: #b03060;
$color-MediumVioletRed: #c71585;
$color-VioletRed: #d02090;
$color-magenta: #ff00ff;
$color-violet: #ee82ee;
$color-plum: #dda0dd;
$color-orchid: #da70d6;
$color-MediumOrchid: #ba55d3;
$color-DarkOrchid: #9932cc;
$color-DarkViolet: #9400d3;
$color-BlueViolet: #8a2be2;
$color-purple: #a020f0;
$color-MediumPurple: #9370db;
$color-thistle: #d8bfd8;
$color-snow1: #fffafa;
$color-snow2: #eee9e9;
$color-snow3: #cdc9c9;
$color-snow4: #8b8989;
$color-seashell1: #fff5ee;
$color-seashell2: #eee5de;
$color-seashell3: #cdc5bf;
$color-seashell4: #8b8682;
$color-AntiqueWhite1: #ffefdb;
$color-AntiqueWhite2: #eedfcc;
$color-AntiqueWhite3: #cdc0b0;
$color-AntiqueWhite4: #8b8378;
$color-bisque1: #ffe4c4;
$color-bisque2: #eed5b7;
$color-bisque3: #cdb79e;
$color-bisque4: #8b7d6b;
$color-PeachPuff1: #ffdab9;
$color-PeachPuff2: #eecbad;
$color-PeachPuff3: #cdaf95;
$color-PeachPuff4: #8b7765;
$color-NavajoWhite1: #ffdead;
$color-NavajoWhite2: #eecfa1;
$color-NavajoWhite3: #cdb38b;
$color-NavajoWhite4: #8b795e;
$color-LemonChiffon1: #fffacd;
$color-LemonChiffon2: #eee9bf;
$color-LemonChiffon3: #cdc9a5;
$color-LemonChiffon4: #8b8970;
$color-cornsilk1: #fff8dc;
$color-cornsilk2: #eee8cd;
$color-cornsilk3: #cdc8b1;
$color-cornsilk4: #8b8878;
$color-ivory1: #fffff0;
$color-ivory2: #eeeee0;
$color-ivory3: #cdcdc1;
$color-ivory4: #8b8b83;
$color-honeydew1: #f0fff0;
$color-honeydew2: #e0eee0;
$color-honeydew3: #c1cdc1;
$color-honeydew4: #838b83;
$color-LavenderBlush1: #fff0f5;
$color-LavenderBlush2: #eee0e5;
$color-LavenderBlush3: #cdc1c5;
$color-LavenderBlush4: #8b8386;
$color-MistyRose1: #ffe4e1;
$color-MistyRose2: #eed5d2;
$color-MistyRose3: #cdb7b5;
$color-MistyRose4: #8b7d7b;
$color-azure1: #f0ffff;
$color-azure2: #e0eeee;
$color-azure3: #c1cdcd;
$color-azure4: #838b8b;
$color-SlateBlue1: #836fff;
$color-SlateBlue2: #7a67ee;
$color-SlateBlue3: #6959cd;
$color-SlateBlue4: #473c8b;
$color-RoyalBlue1: #4876ff;
$color-RoyalBlue2: #436eee;
$color-RoyalBlue3: #3a5fcd;
$color-RoyalBlue4: #27408b;
$color-blue1: #0000ff;
$color-blue2: #0000ee;
$color-blue3: #0000cd;
$color-blue4: #00008b;
$color-DodgerBlue1: #1e90ff;
$color-DodgerBlue2: #1c86ee;
$color-DodgerBlue3: #1874cd;
$color-DodgerBlue4: #104e8b;
$color-SteelBlue1: #63b8ff;
$color-SteelBlue2: #5cacee;
$color-SteelBlue3: #4f94cd;
$color-SteelBlue4: #36648b;
$color-DeepSkyBlue1: #00bfff;
$color-DeepSkyBlue2: #00b2ee;
$color-DeepSkyBlue3: #009acd;
$color-DeepSkyBlue4: #00688b;
$color-SkyBlue1: #87ceff;
$color-SkyBlue2: #7ec0ee;
$color-SkyBlue3: #6ca6cd;
$color-SkyBlue4: #4a708b;
$color-LightSkyBlue1: #b0e2ff;
$color-LightSkyBlue2: #a4d3ee;
$color-LightSkyBlue3: #8db6cd;
$color-LightSkyBlue4: #607b8b;
$color-SlateGray1: #c6e2ff;
$color-SlateGray2: #b9d3ee;
$color-SlateGray3: #9fb6cd;
$color-SlateGray4: #6c7b8b;
$color-LightSteelBlue1: #cae1ff;
$color-LightSteelBlue2: #bcd2ee;
$color-LightSteelBlue3: #a2b5cd;
$color-LightSteelBlue4: #6e7b8b;
$color-LightBlue1: #bfefff;
$color-LightBlue2: #b2dfee;
$color-LightBlue3: #9ac0cd;
$color-LightBlue4: #68838b;
$color-LightCyan1: #e0ffff;
$color-LightCyan2: #d1eeee;
$color-LightCyan3: #b4cdcd;
$color-LightCyan4: #7a8b8b;
$color-PaleTurquoise1: #bbffff;
$color-PaleTurquoise2: #aeeeee;
$color-PaleTurquoise3: #96cdcd;
$color-PaleTurquoise4: #668b8b;
$color-CadetBlue1: #98f5ff;
$color-CadetBlue2: #8ee5ee;
$color-CadetBlue3: #7ac5cd;
$color-CadetBlue4: #53868b;
$color-turquoise1: #00f5ff;
$color-turquoise2: #00e5ee;
$color-turquoise3: #00c5cd;
$color-turquoise4: #00868b;
$color-cyan1: #00ffff;
$color-cyan2: #00eeee;
$color-cyan3: #00cdcd;
$color-cyan4: #008b8b;
$color-DarkSlateGray1: #97ffff;
$color-DarkSlateGray2: #8deeee;
$color-DarkSlateGray3: #79cdcd;
$color-DarkSlateGray4: #528b8b;
$color-aquamarine1: #7fffd4;
$color-aquamarine2: #76eec6;
$color-aquamarine3: #66cdaa;
$color-aquamarine4: #458b74;
$color-DarkSeaGreen1: #c1ffc1;
$color-DarkSeaGreen2: #b4eeb4;
$color-DarkSeaGreen3: #9bcd9b;
$color-DarkSeaGreen4: #698b69;
$color-SeaGreen1: #54ff9f;
$color-SeaGreen2: #4eee94;
$color-SeaGreen3: #43cd80;
$color-SeaGreen4: #2e8b57;
$color-PaleGreen1: #9aff9a;
$color-PaleGreen2: #90ee90;
$color-PaleGreen3: #7ccd7c;
$color-PaleGreen4: #548b54;
$color-SpringGreen1: #00ff7f;
$color-SpringGreen2: #00ee76;
$color-SpringGreen3: #00cd66;
$color-SpringGreen4: #008b45;
$color-green1: #00ff00;
$color-green2: #00ee00;
$color-green3: #00cd00;
$color-green4: #008b00;
$color-chartreuse1: #7fff00;
$color-chartreuse2: #76ee00;
$color-chartreuse3: #66cd00;
$color-chartreuse4: #458b00;
$color-OliveDrab1: #c0ff3e;
$color-OliveDrab2: #b3ee3a;
$color-OliveDrab3: #9acd32;
$color-OliveDrab4: #698b22;
$color-DarkOliveGreen1: #caff70;
$color-DarkOliveGreen2: #bcee68;
$color-DarkOliveGreen3: #a2cd5a;
$color-DarkOliveGreen4: #6e8b3d;
$color-khaki1: #fff68f;
$color-khaki2: #eee685;
$color-khaki3: #cdc673;
$color-khaki4: #8b864e;
$color-LightGoldenrod1: #ffec8b;
$color-LightGoldenrod2: #eedc82;
$color-LightGoldenrod3: #cdbe70;
$color-LightGoldenrod4: #8b814c;
$color-LightYellow1: #ffffe0;
$color-LightYellow2: #eeeed1;
$color-LightYellow3: #cdcdb4;
$color-LightYellow4: #8b8b7a;
$color-yellow1: #ffff00;
$color-yellow2: #eeee00;
$color-yellow3: #cdcd00;
$color-yellow4: #8b8b00;
$color-gold1: #ffd700;
$color-gold2: #eec900;
$color-gold3: #cdad00;
$color-gold4: #8b7500;
$color-goldenrod1: #ffc125;
$color-goldenrod2: #eeb422;
$color-goldenrod3: #cd9b1d;
$color-goldenrod4: #8b6914;
$color-DarkGoldenrod1: #ffb90f;
$color-DarkGoldenrod2: #eead0e;
$color-DarkGoldenrod3: #cd950c;
$color-DarkGoldenrod4: #8b6508;
$color-RosyBrown1: #ffc1c1;
$color-RosyBrown2: #eeb4b4;
$color-RosyBrown3: #cd9b9b;
$color-RosyBrown4: #8b6969;
$color-IndianRed1: #ff6a6a;
$color-IndianRed2: #ee6363;
$color-IndianRed3: #cd5555;
$color-IndianRed4: #8b3a3a;
$color-sienna1: #ff8247;
$color-sienna2: #ee7942;
$color-sienna3: #cd6839;
$color-sienna4: #8b4726;
$color-burlywood1: #ffd39b;
$color-burlywood2: #eec591;
$color-burlywood3: #cdaa7d;
$color-burlywood4: #8b7355;
$color-wheat1: #ffe7ba;
$color-wheat2: #eed8ae;
$color-wheat3: #cdba96;
$color-wheat4: #8b7e66;
$color-tan1: #ffa54f;
$color-tan2: #ee9a49;
$color-tan3: #cd853f;
$color-tan4: #8b5a2b;
$color-chocolate1: #ff7f24;
$color-chocolate2: #ee7621;
$color-chocolate3: #cd661d;
$color-chocolate4: #8b4513;
$color-firebrick1: #ff3030;
$color-firebrick2: #ee2c2c;
$color-firebrick3: #cd2626;
$color-firebrick4: #8b1a1a;
$color-brown1: #ff4040;
$color-brown2: #ee3b3b;
$color-brown3: #cd3333;
$color-brown4: #8b2323;
$color-salmon1: #ff8c69;
$color-salmon2: #ee8262;
$color-salmon3: #cd7054;
$color-salmon4: #8b4c39;
$color-LightSalmon1: #ffa07a;
$color-LightSalmon2: #ee9572;
$color-LightSalmon3: #cd8162;
$color-LightSalmon4: #8b5742;
$color-orange1: #ffa500;
$color-orange2: #ee9a00;
$color-orange3: #cd8500;
$color-orange4: #8b5a00;
$color-DarkOrange1: #ff7f00;
$color-DarkOrange2: #ee7600;
$color-DarkOrange3: #cd6600;
$color-DarkOrange4: #8b4500;
$color-coral1: #ff7256;
$color-coral2: #ee6a50;
$color-coral3: #cd5b45;
$color-coral4: #8b3e2f;
$color-tomato1: #ff6347;
$color-tomato2: #ee5c42;
$color-tomato3: #cd4f39;
$color-tomato4: #8b3626;
$color-OrangeRed1: #ff4500;
$color-OrangeRed2: #ee4000;
$color-OrangeRed3: #cd3700;
$color-OrangeRed4: #8b2500;
$color-red1: #ff0000;
$color-red2: #ee0000;
$color-red3: #cd0000;
$color-red4: #8b0000;
$color-DebianRed: #d70751;
$color-DeepPink1: #ff1493;
$color-DeepPink2: #ee1289;
$color-DeepPink3: #cd1076;
$color-DeepPink4: #8b0a50;
$color-HotPink1: #ff6eb4;
$color-HotPink2: #ee6aa7;
$color-HotPink3: #cd6090;
$color-HotPink4: #8b3a62;
$color-pink1: #ffb5c5;
$color-pink2: #eea9b8;
$color-pink3: #cd919e;
$color-pink4: #8b636c;
$color-LightPink1: #ffaeb9;
$color-LightPink2: #eea2ad;
$color-LightPink3: #cd8c95;
$color-LightPink4: #8b5f65;
$color-PaleVioletRed1: #ff82ab;
$color-PaleVioletRed2: #ee799f;
$color-PaleVioletRed3: #cd6889;
$color-PaleVioletRed4: #8b475d;
$color-maroon1: #ff34b3;
$color-maroon2: #ee30a7;
$color-maroon3: #cd2990;
$color-maroon4: #8b1c62;
$color-VioletRed1: #ff3e96;
$color-VioletRed2: #ee3a8c;
$color-VioletRed3: #cd3278;
$color-VioletRed4: #8b2252;
$color-magenta1: #ff00ff;
$color-magenta2: #ee00ee;
$color-magenta3: #cd00cd;
$color-magenta4: #8b008b;
$color-orchid1: #ff83fa;
$color-orchid2: #ee7ae9;
$color-orchid3: #cd69c9;
$color-orchid4: #8b4789;
$color-plum1: #ffbbff;
$color-plum2: #eeaeee;
$color-plum3: #cd96cd;
$color-plum4: #8b668b;
$color-MediumOrchid1: #e066ff;
$color-MediumOrchid2: #d15fee;
$color-MediumOrchid3: #b452cd;
$color-MediumOrchid4: #7a378b;
$color-DarkOrchid1: #bf3eff;
$color-DarkOrchid2: #b23aee;
$color-DarkOrchid3: #9a32cd;
$color-DarkOrchid4: #68228b;
$color-purple1: #9b30ff;
$color-purple2: #912cee;
$color-purple3: #7d26cd;
$color-purple4: #551a8b;
$color-MediumPurple1: #ab82ff;
$color-MediumPurple2: #9f79ee;
$color-MediumPurple3: #8968cd;
$color-MediumPurple4: #5d478b;
$color-thistle1: #ffe1ff;
$color-thistle2: #eed2ee;
$color-thistle3: #cdb5cd;
$color-thistle4: #8b7b8b;
$color-gray0: #000000;
$color-grey0: #000000;
$color-gray1: #030303;
$color-grey1: #030303;
$color-gray2: #050505;
$color-grey2: #050505;
$color-gray3: #080808;
$color-grey3: #080808;
$color-gray4: #0a0a0a;
$color-grey4: #0a0a0a;
$color-gray5: #0d0d0d;
$color-grey5: #0d0d0d;
$color-gray6: #0f0f0f;
$color-grey6: #0f0f0f;
$color-gray7: #121212;
$color-grey7: #121212;
$color-gray8: #141414;
$color-grey8: #141414;
$color-gray9: #171717;
$color-grey9: #171717;
$color-gray10: #1a1a1a;
$color-grey10: #1a1a1a;
$color-gray11: #1c1c1c;
$color-grey11: #1c1c1c;
$color-gray12: #1f1f1f;
$color-grey12: #1f1f1f;
$color-gray13: #212121;
$color-grey13: #212121;
$color-gray14: #242424;
$color-grey14: #242424;
$color-gray15: #262626;
$color-grey15: #262626;
$color-gray16: #292929;
$color-grey16: #292929;
$color-gray17: #2b2b2b;
$color-grey17: #2b2b2b;
$color-gray18: #2e2e2e;
$color-grey18: #2e2e2e;
$color-gray19: #303030;
$color-grey19: #303030;
$color-gray20: #333333;
$color-grey20: #333333;
$color-gray21: #363636;
$color-grey21: #363636;
$color-gray22: #383838;
$color-grey22: #383838;
$color-gray23: #3b3b3b;
$color-grey23: #3b3b3b;
$color-gray24: #3d3d3d;
$color-grey24: #3d3d3d;
$color-gray25: #404040;
$color-grey25: #404040;
$color-gray26: #424242;
$color-grey26: #424242;
$color-gray27: #454545;
$color-grey27: #454545;
$color-gray28: #474747;
$color-grey28: #474747;
$color-gray29: #4a4a4a;
$color-grey29: #4a4a4a;
$color-gray30: #4d4d4d;
$color-grey30: #4d4d4d;
$color-gray31: #4f4f4f;
$color-grey31: #4f4f4f;
$color-gray32: #525252;
$color-grey32: #525252;
$color-gray33: #545454;
$color-grey33: #545454;
$color-gray34: #575757;
$color-grey34: #575757;
$color-gray35: #595959;
$color-grey35: #595959;
$color-gray36: #5c5c5c;
$color-grey36: #5c5c5c;
$color-gray37: #5e5e5e;
$color-grey37: #5e5e5e;
$color-gray38: #616161;
$color-grey38: #616161;
$color-gray39: #636363;
$color-grey39: #636363;
$color-gray40: #666666;
$color-grey40: #666666;
$color-gray41: #696969;
$color-grey41: #696969;
$color-gray42: #6b6b6b;
$color-grey42: #6b6b6b;
$color-gray43: #6e6e6e;
$color-grey43: #6e6e6e;
$color-gray44: #707070;
$color-grey44: #707070;
$color-gray45: #737373;
$color-grey45: #737373;
$color-gray46: #757575;
$color-grey46: #757575;
$color-gray47: #787878;
$color-grey47: #787878;
$color-gray48: #7a7a7a;
$color-grey48: #7a7a7a;
$color-gray49: #7d7d7d;
$color-grey49: #7d7d7d;
$color-gray50: #7f7f7f;
$color-grey50: #7f7f7f;
$color-gray51: #828282;
$color-grey51: #828282;
$color-gray52: #858585;
$color-grey52: #858585;
$color-gray53: #878787;
$color-grey53: #878787;
$color-gray54: #8a8a8a;
$color-grey54: #8a8a8a;
$color-gray55: #8c8c8c;
$color-grey55: #8c8c8c;
$color-gray56: #8f8f8f;
$color-grey56: #8f8f8f;
$color-gray57: #919191;
$color-grey57: #919191;
$color-gray58: #949494;
$color-grey58: #949494;
$color-gray59: #969696;
$color-grey59: #969696;
$color-gray60: #999999;
$color-grey60: #999999;
$color-gray61: #9c9c9c;
$color-grey61: #9c9c9c;
$color-gray62: #9e9e9e;
$color-grey62: #9e9e9e;
$color-gray63: #a1a1a1;
$color-grey63: #a1a1a1;
$color-gray64: #a3a3a3;
$color-grey64: #a3a3a3;
$color-gray65: #a6a6a6;
$color-grey65: #a6a6a6;
$color-gray66: #a8a8a8;
$color-grey66: #a8a8a8;
$color-gray67: #ababab;
$color-grey67: #ababab;
$color-gray68: #adadad;
$color-grey68: #adadad;
$color-gray69: #b0b0b0;
$color-grey69: #b0b0b0;
$color-gray70: #b3b3b3;
$color-grey70: #b3b3b3;
$color-gray71: #b5b5b5;
$color-grey71: #b5b5b5;
$color-gray72: #b8b8b8;
$color-grey72: #b8b8b8;
$color-gray73: #bababa;
$color-grey73: #bababa;
$color-gray74: #bdbdbd;
$color-grey74: #bdbdbd;
$color-gray75: #bfbfbf;
$color-grey75: #bfbfbf;
$color-gray76: #c2c2c2;
$color-grey76: #c2c2c2;
$color-gray77: #c4c4c4;
$color-grey77: #c4c4c4;
$color-gray78: #c7c7c7;
$color-grey78: #c7c7c7;
$color-gray79: #c9c9c9;
$color-grey79: #c9c9c9;
$color-gray80: #cccccc;
$color-grey80: #cccccc;
$color-gray81: #cfcfcf;
$color-grey81: #cfcfcf;
$color-gray82: #d1d1d1;
$color-grey82: #d1d1d1;
$color-gray83: #d4d4d4;
$color-grey83: #d4d4d4;
$color-gray84: #d6d6d6;
$color-grey84: #d6d6d6;
$color-gray85: #d9d9d9;
$color-grey85: #d9d9d9;
$color-gray86: #dbdbdb;
$color-grey86: #dbdbdb;
$color-gray87: #dedede;
$color-grey87: #dedede;
$color-gray88: #e0e0e0;
$color-grey88: #e0e0e0;
$color-gray89: #e3e3e3;
$color-grey89: #e3e3e3;
$color-gray90: #e5e5e5;
$color-grey90: #e5e5e5;
$color-gray91: #e8e8e8;
$color-grey91: #e8e8e8;
$color-gray92: #ebebeb;
$color-grey92: #ebebeb;
$color-gray93: #ededed;
$color-grey93: #ededed;
$color-gray94: #f0f0f0;
$color-grey94: #f0f0f0;
$color-gray95: #f2f2f2;
$color-grey95: #f2f2f2;
$color-gray96: #f5f5f5;
$color-grey96: #f5f5f5;
$color-gray97: #f7f7f7;
$color-grey97: #f7f7f7;
$color-gray98: #fafafa;
$color-grey98: #fafafa;
$color-gray99: #fcfcfc;
$color-grey99: #fcfcfc;
$color-gray100: #ffffff;
$color-grey100: #ffffff;
$color-DarkGrey: #a9a9a9;
$color-DarkGray: #a9a9a9;
$color-DarkBlue: #00008b;
$color-DarkCyan: #008b8b;
$color-DarkMagenta: #8b008b;
$color-DarkRed: #8b0000;
$color-LightGreen: #90ee90;
