Source: paella
Section: unknown
Priority: optional
Maintainer: Joseph Rawson <umeboshi@gregscomputerservice.com>
Build-Depends: debhelper (>> 4.0.0), python2.3, python2.3-dev, python-docutils, cdbs
Standards-Version: 3.5.8

Package: paella
Section: admin
Architecture: all
Priority: extra
Depends: paella-management
Description: meta-package for default paella packages
    Paella is a installation/configuration management system
    centered on being able to easily define, configure, maintain and
    update systems and networks.  Tries to not reinvent too many
    wheels, and works hand in hand with fai.  It is planned to be
    extended to work with buildroots and embedded systems.

Package: paella-base
Section: admin
Priority: optional
Architecture: any
Depends: useless-db
Description: base utils for paella
    This package is responsible for initial setup of the paella 
    environment. (need to ask for pghost, etc..)

Package: paella-debian
Section: admin
Priority: optional
Architecture: any
Depends: paella-base, python-apt, debootstrap, debconf-utils
Description: Documentation for paella
    many class and functions for use with debian related
    activities (dpkg, package repositories, debconf, etc.)

Package: paella-dbgtk
Section: admin
Priority: optional
Architecture: any
Depends: paella-base, useless-gtk
Description: db connected gui widgets needed by paella
    This package contains gtk objects that have connections
    to a postgres database making it easier to develop customized
    widgets.

Package: paella-installer
Section: admin
Priority: extra
Architecture: any
Depends: paella-db, reiserfsprogs, xfsprogs, python-pyparsing, hdparm, mdadm, mkisofs, gawk
Description: package for nfsroot installer
    This package should be installed on the nfsroot installer

Package: paella-admin
Section: admin
Priority: optional
Architecture: any
Depends: paella-db, paella-dbgtk, xxdiff
Description: package for configuration of profiles
    This package should be installed on the developer's machine

Package: paella-db
Section: optional
Priority: optional
Architecture: any
Depends: paella-debian, paella-dbgtk, python-kjbuckets
Replaces: paella-machines, paella-schema, paella-profile, paella-paelladb
Description: skeletons for database generation
    classes and functions to help create database schemas,
    generate and primer the databases.
    This is the main package with the paella configuration applications
    in it.  Remember, right now there is only gui and management for the
    database, the config directory is not packaged yet.
    machine definitions, filesystems, mounts,
    kernels modules, and other things that need 
    to be kept track of on physical machines.
    (fixme)

Package: paella-debrepos
Section: admin
Priority: extra
Architecture: any
Depends: paella-debian, mini-dinstall, dnotify
Description: maintain debian a repository
    this is a set of scripts to maintain a debian
    repository.

Package: paella-kernelbuilder
Section: devel
Priority: extra
Architecture: all
Depends: paella-base, kernel-package
Description: build a bunch of kernels
    the kernelbuilder is a system using make-kpkg to
    maintain many different kernels.  For each kernel
    you can define the version and patches.  You can 
    then use debuild to build the packages, and dput
    to upload them to a repository.

Package: paella-defaultdb
Section: devel
Priority: optional
Architecture: all
Depends: paella-base
Description: a default database to start with
    The provided default database should contain
    enough toget started.  Included are profiles and
    traits designed to create a paella installer system.

Package: paella-doc
Section: doc
Priority: optional
Architecture: all
Depends: paella-base
Description: documentation for paella
  Paella is a system for  installing and managing
  configurations of debian systems.  This package
  holds the pathetic documentation for it.



