// ---------------------------------------------------------------------------
// Imports

// Color ----------------------------------------------------------------------
@import "partials/colors";

/* -------------------------------------------------------*/
/* Base Colors */

//$basecolor: $color-MistyRose3;
//$basecolor: $color-SkyBlue;
//$basecolor: $color-azure3;
//$basecolor: $color-LightSkyBlue;
//$basecolor: lighten($color-DarkKhaki, 25%);
//$basecolor: lighten($color-DarkSeaGreen, 25%);
//$basecolor: lighten($color-IndianRed, 30%);
//$basecolor: lighten($color-burlywood, 3%);

$basecolor: $color-cornsilk;

$basecolor1: $color-cornsilk1;
$basecolor2: $color-cornsilk2;
$basecolor3: $color-cornsilk3;
$basecolor4: $color-cornsilk4;

