#
# Shorewall version 4.0 - Sample Rules File for two-interface configuration.
# Copyright (C) 2006,2007 by the Shorewall Team
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# See the file README.txt for further details.
#------------------------------------------------------------------------------
# For information about entries in this file, type "man shorewall-rules"
#
# The manpage is also online at 
# http://shorewall.net/manpages/shorewall-rules.html
#
#############################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK
#							PORT	PORT(S)		DEST		LIMIT		GROUP
#
#	Accept DNS connections from the firewall to the network
#
DNS/ACCEPT	$FW		net
#start fw2net
HTTP/ACCEPT	$FW		net
HTTPS/ACCEPT	$FW		net
NTP/ACCEPT	$FW		net
SMB/ACCEPT	$FW		net
#Portmap/ACCEPT	$FW		net
#MountD/ACCEPT	$FW		net
#NFS/ACCEPT	$FW		net
#StatD/ACCEPT	$FW		net
#end fw2net
#################
#start fw2loc
NTP/ACCEPT	$FW		loc
SMB/ACCEPT	$FW		loc
#end fw2loc
#
#	Accept SSH connections from the local network for administration
#
SSH/ACCEPT	loc		$FW
#start loc2fw
HTTP/ACCEPT	loc		$FW
HTTPS/ACCEPT	loc		$FW
NTP/ACCEPT	loc		$FW
SMB/ACCEPT	loc		$FW
DNS/ACCEPT	loc		$FW
DHCP/ACCEPT	loc		$FW
TFTP/ACCEPT	loc		$FW
Portmap/ACCEPT	loc		$FW
MountD/ACCEPT	loc		$FW
NFS/ACCEPT	loc		$FW
StatD/ACCEPT	loc		$FW
SaltMaster/ACCEPT		loc	$FW
PostgreSQL/ACCEPT	loc	$FW

#end loc2fw
#################
#start net2fw
SSH/ACCEPT	net		$FW
HTTP/ACCEPT	net		$FW
HTTPS/ACCEPT	net		$FW
#end net2fw

#
#	Allow Ping from the local network
#
Ping/ACCEPT	loc		$FW
Ping/ACCEPT	net		$FW


ACCEPT		$FW		loc		icmp
ACCEPT		$FW		net		icmp
#

#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
